<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src=="/javascript/bootstrap.js"></script>
  </head>
  <body>

  <div class="container">
  <div stlye=" padding-top: 10px;
text-align: center; margin-left: 0; margin-right: 0; " class="h1">FlexBox</div>
      <form method="POST" style="padding-top : 14px" >
        <div class="border border-primary">
        <div class="form-group">
          <label for="height">Height</label>
          <input class="form-control" id ="height" type="text"/>
        </div>

        <div class="form-group">
          <label for="width">Width</label>
          <input class="form-control"  id="width" type="text"/>
        </div>
        <div class="form-group">
          <label for="length"> Length</label>
          <input class="form-control" id="length" type="text"/>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input  class="form-control" id="quantity" type="text"/>
        </div>
        <div class="form-group">
          <label for="colours">Colour</label>
            <select  class="form-control" id="Colour">
              <option value="1 Colour">1 Colour</option>
              <option value="2 Colours">2 Colours</option>
            </select>
        </div>
        <div class="form-group">
          <div id="price">Price: £<%= boxPrice %></div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" >Add</button>
          <button class="btn btn-primary" >Remove</button>
          <button class="btn btn-primary" >Submit</button>
        </div>
      </div>
        <div class="form-group">
          <div id="price">Added: <%= boxItem %></div>
        </div>
      </form>

  </div>
  </body>
</html>
